boto3==1.17.46
botocore==1.20.78
brotlipy==0.7.0
certifi==2021.5.30
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
Flask==1.1.2
Flask-Cors==3.0.10
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
numpy==1.19.5
opencv-python==4.5.1.48
pandas
pip
urllib3
Werkzeug
wheel
xmltodict
