<p>Select "No" when just one question is asked (Example 1 & Example 2). 
        <br>Select "Yes" when more than one question is asked (Example 3 & Example 4). 

 </p>
 <br>
<p><strong>Exception: </strong>Select "No" when the question just repeats itself or only one question needs to be answered (Example 2). 

</p>
    <div class="row">       

            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                            <p><strong>Question</strong>: Is this lactose free?  
                            <br>
                            <strong> Answer</strong>: Yes.</p>
                
                            <img src="static/images/multi_question1.jpg"  alt="...">
                            <div class="caption">
                            <h4>
                                    <span class = "green"> Example 1: No</span>
                                    <!-- <span class="glyphicon glyphicon-ok green" aria-hidden="true"> Good</span> -->
                                    
                                    </h4>
                                    <p>Explanation: Just one question is asked.</p>
                            </div>
                        </div>

            </div>
            <div class="col-sm-6 col-md-3">

                    <div class="thumbnail">
                            <p><strong>Question: </strong> "Could you tell me what is this? Thank you. What is this?"
                            <br>
                            <strong>Answer: </strong> HEB Lactose free milk. </p>
                
                            <img src="static/images/multi_question1.jpg" alt="...">
                            <div class="caption">
                                <h4>
                                    <span class = "green"> Example 2: No</span>
                                        <!-- <span class="glyphicon glyphicon-ok green" aria-hidden="true"> Good</span> -->
                                    
                                    </h4>
                                    <p>Explanation: Though there are two question marks, the question conveys the same idea. Hence, only one question needs to be answered.</p>
                            </div>
                            </div>
            </div>

            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        
                            <p><strong>Question: </strong> Could you tell me what color is the chair? Where is the key?
                            <br>
                            <strong>Answer: </strong> Black. Table.</p>
                            
                        <img src="static/images/multi_question2.jpg" alt="...">
                        <div class="caption">
                                <h4>
                                    <span class = "red"> Example 3: Yes</span>
                                    </h4>
                                    <p>Explanation: More than one question is asked.</p>
                        </div>
                        </div>
                </div>
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        
                            <p><strong>Question: </strong> Is this a chair what color?
                            <br>
                            <strong>Answer: </strong> Yes. Black.</p>
                            <img src="static/images/multi_question2.jpg" alt="...">
                            <div class="caption">
                                    <h4>
                                        <span class = "red"> Example 4: Yes</span>
                                        </h4>
                                        <p>Explanation: Though there is just one question mark, more than one question is asked.</p>
                                        
                            </div>
                        </div>
            </div>  



    </div>