<p>  
        Select "No" if just one polygon is needed, as the answer is referring to a <strong>single region</strong> (Example 2) or <strong>multiple connected regions</strong> (Example 3). Or no polygon is needed, as the <strong>answer cannot be located</strong> in the image (Example 1).

 <br><br>Select "Yes"  if more than one polygon is needed, as the answer is referring to <strong>multiple disconnected regions</strong> (Example 4).
    <br>

<br>
</p>
<div class="row">
    
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> Any pillow here?
                <br>
                <strong>Answer: </strong> No </p>
    
                <img src="static/images/pillow.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 1: No</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Explanation: <strong>No polygon</strong> is needed as no pillow is found in the image.</p>
                </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> What is this?
                    <br>
                    <strong>Answer: </strong> Rice Vinegar. </p>
                    
                <img src="static/images/onefocus.jpg" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Example 2: No</span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <p> Explanation: Just <strong>one polygon</strong> is needed to locate the "rice vinegar" region. </p>
                </div>
                </div>
            </div>


            
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                                            
                        <p><strong>Question: </strong> How many candies are there?
                        <br>
                        <strong>Answer: </strong> 4 </p>
                        
                    <img src="static/images/candy.png" alt="...">
                    <div class="caption">
                            <h4>
                                <span class ="green">Example 3: No</span>
                                    <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                            
                                </h4>
                        <p> Explanation: Just <strong>one polygon</strong> is needed as the answer is referring to 4 <strong>connected</strong> candy regions.</p>
                    </div>
                    </div>
                </div>
                
        <!-- </div>

        <div class="row"> -->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> How many coins are there?
                <br>
                <strong>Answer: </strong> 4. </p>
    
                <img src="static/images/coins2.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="red">Example 4: Yes</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Explanation: <strong>More than one polygon</strong> is needed as the answer is referring to 4 <strong>disconnected</strong> coin regions. </p>
                </div>
                </div>
            </div>

    
       
       
</div>


