<p>      If (the property of) the object that the answer is referring to is <strong>not shown</strong> in the image (Example 1 & Example 2 & Example 3 & Example 5 & Example 6 & Example 7), please select "cannot draw" and indicate the reason for why you cannot draw it.<br>
</p>
<div class="row">
    
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> Any pillow here?
                <br>
                <strong>Answer: </strong> No </p>
    
                <img src="static/images/pillow.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 1: Option (a) - Cannot Draw</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Reason: Pillow is <strong>not shown</strong> in the image.</p>
                </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> Who is the author?
                    <br>
                    <strong>Answer: </strong> Bill Gates </p>
                    
                <img src="static/images/EK.jpg" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Example 2: Option (a) - Cannot Draw</span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <p> Reason: The answer about the author "Bill Gates" is <strong>not shown </strong>in the image.
                        <br>
                        <br>Notice: Please do NOT draw the boundary of the book. While a person may infer the answer by the title of the book, that would require additional information out of the image. </p>
                </div>
                </div>
            </div>


            
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                                            
                        <p><strong>Question: </strong> What is on the chair?
                        <br>
                        <strong>Answer: </strong> nothing </p>
                        
                    <img src="static/images/multi_question2.jpg" alt="...">
                    <div class="caption">
                            <h4>
                                <span class ="green">Example 3: Option (a) - Cannot Draw</span>
                                    <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                            
                                </h4>
                        <p> Reason: <strong>Nothing</strong> is on the chair. 
                            <br><br>Notice: Please do NOT draw the boundary of the chair. The chair in the question is a relevant object, but the answer is not referring to the chair.</p>
                    </div>
                    </div>
                </div>
                
        <!-- </div>

        <div class="row"> -->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> Is it wine?
                <br>
                <strong>Answer: </strong> No. </p>
    
                <img src="static/images/wineornot.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="red">Example 4: Option (b)-Draw</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p>  Please draw the boundary of the milk as the question asks about "it" (the answer is referring to "it") and "it" exists in the image.  </p>
                </div>
                </div>
            </div>
</div>  

<p>      If the text that the answer is referring to is <strong>partially visible/cut off</strong> in the image (Example 5), please select "cannot draw" and indicate that the text is partially visible and more information is needed.<br>
</p>
<p>      If <strong>the provided answer is wrong</strong> (Example 6), please select "cannot draw" and indicate that the provided answer is wrong and provide the right answer.
</p>
<p>      If <strong>no cue </strong>indicating the provided answer (Example 7), please select "cannot draw" and say that cannot see any cues indicating the answer.<br>
</p>
<div class="row">
    
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                <p><strong>Question: </strong> What is the brand?
                <br>
                <strong>Answer: </strong> Skin Vape </p>
    
                <img src="static/images/partiallyTEXT.jpg" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="green">Example 5: Option (a) - Cannot Draw</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p> Reason: "Skin Vape" is <strong>not shown</strong> in the image. "Skin Vape" is <strong>partially visible</strong> in the image. More information is needed.</p>
                </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                                        
                    <p><strong>Question: </strong> What is this?
                    <br>
                    <strong>Answer: </strong> Sumsang </p>
                    
                <img src="static/images/wronganswer.jpg" alt="...">
                <div class="caption">
                        <h4>
                            <span class ="green">Example 6: Option (a) - Cannot Draw</span>
                                <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                        
                            </h4>
                    <p> Reason: "Sumsang" is <strong>not shown</strong> in the image.<strong>The provided answer is wrong.</strong>The correct answer is "Samsung".</p>
                </div>
                </div>
            </div>


            
            <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                                            
                    <p><strong>Question: </strong> What is in this bottle?
                        <br>
                        <strong>Answer: </strong> Coffee</p>
                        
                    <img src="static/images/coffee.jpg" alt="...">
                    <div class="caption">
                            <h4>
                                <span class ="green">Example 7: Option (a) - Cannot Draw</span>
                                    <!-- <span class="glyphicon glyphicon-remove green" aria-hidden="true">No</span> -->
                            
                                </h4>
                        <p> Reason: Coffee is <strong>not shown</strong> in the image. <strong>Cannot see any cues</strong> indicating there is coffee in this bottle.</p>
                    </div>
                    </div>
                </div>
                
        <!-- </div>

        <div class="row"> -->
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    
                    <p><strong>Question: </strong> What is in this box?
                        <br>
                        <strong>Answer: </strong> Samsung </p>
                <img src="static/images/samsung.png" alt="...">
                <div class="caption">
                    <h4>
                        
                        <span class ="red">Example 8: Option (b)-Draw</span>
                            <!-- <span class="glyphicon glyphicon-option-horizontal red" aria-hidden="true"> Yes</span> -->
                        
                        </h4>
                        <p>  Please draw the boundary of the text "Samsung" as it indicating samsung is in this box.  </p>
                </div>
                </div>
            </div>
</div>  



