
       <!-- Central Modal Large -->
       <div class="modal fade" id="centralModalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="padding-top: 15%;">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    <label style="margin-bottom: 5px">
                        Do you have any suggestions, feedback, or general comments for us?
                        <span class="text-muted">(optional, feel free to leave it blank.)</span>

                    </label>
                    <textarea name="WORKER_COMMENTS" 
                    style="font-size:18px" class="form-control  input-lg" rows="2"></textarea>
                 
            
            </div>
            <!--Body-->
            <!-- <div class="modal-body">
   
            </div> -->

            
             <input type='hidden' id= 'hiddenXY' name='hiddenXY' value='' />
             <input type='hidden' id= 'hiddenAnswer' name='hiddenAnswer' value='' />
             <input type='hidden' id= 'usetime' name='usetime' value='' />
             <input type='hidden' id= 'browser' name='browser' value='' />
            <!--Footer-->
            <div class="modal-footer">

                    <h4 class="modal-title w-100"  id="myModalLabel">Submit the HIT?     
                <button type="submit" class="btn" value="Submit" id="FinalSubmit">Yes</button>
              <button type="button" class="btn" data-dismiss="modal">Cancel</button></h4>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!-- Central Modal Large -->